<%#= form_for resource, url: {action: "confirm"} do |f| %>
<%= nested_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="p-form--tutorial-edit">

  <div class="p-form__item">
    <div class="c-title">
      <h1 class="c-title__text">パーソンの公開プロフィール登録</h1>
    </div>
  </div>
  <div class="p-form__item">
    <p class="c-text">テキストダミー「顔の見えるまなびのコミュニティ」を目指しています。
    先生には、お名前 + ご本人写真 + ネット上の公開プロフィールの開示をお願いしております。 </p>
    <p class="c-text--attention">以下の情報が未登録・不備がある場合は、講座は公開されません。また情報はこれから公開されるあなたの教室ページに掲載されます。 </p>
  </div>

  <div class="p-form__item--step">

    <h2 class="c-title--step">1.&nbsp;レッスンジャンル</h2>

    <!-- <div class="c-form-pulldown--item c-form-pulldown--item--first">
      <div class="c-form-pulldown c-form-pulldown--large_category">
        <div class="c-title"><h2 class="c-title__text--headline">レッスン大カテゴリーを選択</h2><span class="c-tag--required">必須</span></div>
        <ul class="c-form-pulldown__item">
          <li>
            <%= select_tag :large_category_id, options_from_collection_for_select(LargeCategory.all, :id, :name) ,{ id: 'large_category_id', class: 'large_category--item'} %>
            <%#= f.collection_select(:middle_category_ids, LargeCategory.all, :id, :name, {}, {:multiple => true}) %>
          </li>
        </ul>
        <p class="error-text">パスワードエラー</p>
      </div>
      <div class="c-form-pulldown c-form-pulldown--middle_category">
        <div class="c-title"><h2 class="c-title__text--headline">レッスン中カテゴリーを選択</h2><span class="c-tag--required">必須</span></div>
        <ul class="c-form-pulldown__item">
          <li>
           <%#= select_tag :middle_category_ids, options_from_collection_for_select(MiddleCategory.all, :id, :name) %>
           <%= f.collection_select(:middle_category_ids, MiddleCategory.all, :id, :name, {include_hidden: false}, {:multiple => false, :name => 'person[middle_category_ids][]', :id => 'middle_category_id'}) %>
           <%#= f.collection_select(:middle_category_ids, MiddleCategory.all, :id, :name) %>
         </li>
       </ul>
       <p class="error-text">パスワードエラー</p>
     </div>
   </div> -->

   <%= f.fields_for :middle_category_ids do |category| %>
     <%= select_tag :large_category_id, options_from_collection_for_select(LargeCategory.all, :id, :name) ,{ id: 'large_category_id', class: 'large_category--item'} %><br>
     <%= f.collection_select(:middle_category_ids, MiddleCategory.all, :id, :name, {include_hidden: false}, {:multiple => false, :name => 'person[middle_category_ids][]', :id => 'middle_category_id'}) %>
     <%= category.link_to_remove "Remove this task" %>
     <% end %>
   <p><%= f.link_to_add "Add a task", :middle_category_ids %></p>

    <!--下のボタンは中カテを選択した瞬間に表示させたい-->

    <p class="c-btn--more">
      <a href="#">さらにカテゴリーを追加する</a>
    </p>

    <!--上のボタンをクリック・タップすると、「大」「中」カテゴリーをセットで表示させたい-->

  </div>

  <%= f.fields_for :personinfo, resource.build_personinfo || Personinfo.new do |info| %>

  <div class="p-form__item--step">



    <h2 class="c-title--step">2.&nbsp;あなたのプロフィールを入力</h2>

    <div class="c-form-input-text">
      <div class="c-title"><h2 class="c-title__text--headline">ビジネスネーム</h2><span class="c-tag--required">必須</span></div>
      <p class="c-text--small">本名またはビジネスネームを登録してください。</p>

      <div class="tutorial-input-text">
        <%= info.text_field :firstname, placeholder: '苗字' %>
        <%= info.text_field :lastname, placeholder: '名前' %>
      </div>

      <p class="error-text">ニックネームエラー</p>
    </div>

    <div class="c-form-radio">
      <div class="c-title"><h2 class="c-title__text--headline">性別</h2><span class="c-tag--required">必須</span></div>
      <ul class="c-form-radio__item">
        <li class="radio-btn">
          <%= info.radio_button :sex, "男性", id: "dansei" %>
          <%= info.label :sex, "男性", for: "dansei" %>
        </li>

        <li class="radio-btn">
          <%= info.radio_button :sex, "女性", id: "jyosei" %>
          <%= info.label :sex, "女性", for: "jyosei" %>
        </li>
      </ul>
      <p class="error-text">パスワードエラー</p>
    </div>

    <div class="c-form-input-text">
      <div class="c-title"><h2 class="c-title__text--headline">年齢</h2><span class="c-tag--required">必須</span></div>
      <%= info.text_field :age, placeholder: '25' %>
      <p class="error-text">生年月日エラー</p>
    </div>

    <div class="c-form-pulldown">
      <div class="c-title"><h2 class="c-title__text--headline">居住地</h2><span class="c-tag--required">必須</span></div>
      <ul class="c-form-pulldown__item">
        <li>
          <%= info.select(:live, [['日本', '日本'], ['海外', '海外']]) %>
        </li>
      </ul>
      <p class="error-text">パスワードエラー</p>
    </div>

    <div class="c-form-pulldown">
      <div class="c-title"><h2 class="c-title__text--headline">出身地</h2><span class="c-tag--required">必須</span></div>
      <ul class="c-form-pulldown__item">
        <li>
          <%= info.select(:country, [['日本', '日本'], ['海外', '海外']]) %>
        </li>
      </ul>
      <p class="error-text">パスワードエラー</p>
    </div>

    <div class="c-form-input-text">
      <div class="c-title"><h2 class="c-title__text--headline">メールアドレス</h2><span class="c-tag--required">必須</span></div>
      <%= f.email_field :email, autocomplete: "email" %>
      <p class="error-text">パスワードエラー</p>
    </div>

    <div class="c-form-input-text">
      <div class="c-title"><h2 class="c-title__text--headline">パスワード（6文字以上）</h2><span class="c-tag--required">必須</span></div>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <p class="error-text">パスワードエラー</p>
    </div>

    <div class="c-form-input-text">
      <div class="c-title"><h2 class="c-title__text--headline">パスワード（確認用）</h2><span class="c-tag--required">必須</span></div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <p class="error-text">パスワードエラー</p>
    </div>

  </div>

  <div class="p-form__item--step">
    <h2 class="c-title--step">3.&nbsp;顔写真</h2>

    <div class="c-form-input-file">
      <div class="c-title"><h2 class="c-title__text--headline">顔写真</h2><span class="c-tag--required">必須</span>
      </div>
      <p class="c-text--small">お顔がはっきり写っているご本人写真を登録してください。ご本人の確認できない写真の場合、講座の公開をお断りしております。</p>
      <div class="c-change-photo">
      </div>
      <%= info.file_field :image %>
      <!-- <input type="file" name="upfile" id="upfile" accept="image/*" /> -->
    </div>


  </div>


  <div class="p-form__item--step">

    <h2 class="c-title--step">4.&nbsp;自己紹介</h2>

    <div class="c-form-input-text">
      <div class="c-title"><h2 class="c-title__text--headline">キャッチコピー</h2><span class="c-tag--required">必須</span></div>
      <p class="c-text--small">一行で説明できるキャッチコピーを入力してください。</p>
      <%= info.text_field :copy, placeholder: 'キャッチコピー' %>
      <p class="counter-text">25</p>
    </div>

    <div class="c-form-input-textarea">
      <div class="c-title"><h2 class="c-title__text--headline">なにを教えているか</h2><span class="c-tag--required">必須</span></div>
      <!-- <textarea></textarea> -->
      <%= info.text_area :program %>
      <div class="c-form-input-textarea__inner">
        <p class="example-text"><a href="#" target="_blank">例文はこちら</a></p>
        <p class="counter-text">400</p>
      </div>
    </div>

    <div class="c-form-input-textarea">
      <div class="c-title"><h2 class="c-title__text--headline">どこで教えているか</h2><span class="c-tag--required">必須</span></div>
      <!-- <textarea></textarea> -->
      <%= info.text_area :place %>
      <div class="c-form-input-textarea__inner">
        <p class="example-text"><a href="https://www.green-japan.com/mobile/search/new" target="_blank">例文はこちら</a></p>
        <!--例文は各例文htmlを_blankで表示させる-->
        <p class="counter-text">400</p>
      </div>
    </div>

    <div class="c-form-input-textarea">
      <div class="c-title"><h2 class="c-title__text--headline">どのように教えているか</h2><span class="c-tag--required">必須</span></div>
      <!-- <textarea></textarea> -->
      <%= info.text_area :method %>
      <div class="c-form-input-textarea__inner">
        <p class="example-text"><a href="https://www.webcreatorbox.com/tech/css-flexbox-cheat-sheet" target="_blank">例文はこちら</a></p>
        <!--例文は各例文htmlを_blankで表示させる-->
        <p class="counter-text">400</p>
      </div>
    </div>

    <div class="c-form-input-textarea">
      <div class="c-title"><h2 class="c-title__text--headline">さいごに</h2><span class="c-tag--required">必須</span></div>
      <%= info.text_area :message %>
      <div class="c-form-input-textarea__inner">
        <p class="example-text"><a href="https://www.mixi-recruitment.co.jp/news/2018/0724/01.html" target="_blank">例文はこちら</a></p>
        <p class="counter-text">400</p>
      </div>
    </div>

  </div>

  <% end %>

  <div class="p-form__btn-area">
    <p class="c-btn--cta">
      <%= f.submit "公開プロフィールを確認する" %>
    </p>
  </div>

</div>

<% end %>
