<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <meta name="description" content="説明文">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- favicon.icoはルートディレクトに配置 -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body>
  <div class="l-container">
    <div class="c-overlay"></div>

    <%= render "shared/header" %>

    <main class="l-contents">
      <section class="l-contents__inner">
        <!-- <p class="notice"><%= notice %></p> -->
        <!-- <p class="alert"><%= alert %></p> -->
        <%= yield %>
      </section>
    </main>

    <footer class="l-footer--regist">
      <ul class="c-footer-link">
        <!-- {{ range $val := seq 16 }} -->
        <li class="c-footer-link__item">
          <a href="#">リンクテキスト</a>
        </li>
        <!-- {{ end }} -->
      </ul>
      <p class="l-footer__copyright">Copyright 2012-2018 © freee K.K.</p>
      <!-- <div class="p-overlay-btn">
        <div class="c-btn--regest">
          <a href="/user-profile-registration">会員登録</a>
        </div>
        <div class="c-btn--cta">
          <a href="/">レッスン申し込み</a>
        </div>
      </div> -->
    </footer>
  </div>

  <%= render "shared/js" %>

</body>
</html>
